.resources {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1800px;
}

.resources-banner {
    background-position: center;
    padding: 185px;
    background-size: cover;
    margin-bottom: -20px;
}

.resources-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
    margin-top: 74px;
    background-image: url("dist/assets/images/resources-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: right;
    z-index: 2;
}

.resources-banner h1 {
    position: relative;
    font-size: 3rem;
    text-align: left;
    z-index: 3;
    margin-top: -10px;
    color: #4CAF50;
}

.resources-banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 460px;
    margin-top: 74px;
    background-image: url("../images/vector8.avif");
    opacity: 0.5;
    z-index: 1;
}

.resources-container {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    padding: 80px;
}

.resources-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
}

.resources-inner {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1795px;
    margin-left: 10px;
}

.resources-content.reverse .resources-inner {
    flex-direction: row-reverse;
}

.resources-content:nth-child(odd) {
    position: relative;
}

.resources-content:nth-child(even)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Premium Vector _ Pattern geometric line circle abstract seamless blue line (Copy).jpeg");
    opacity: 0.1;
}


.resources-image {
    flex: 1;
    max-width: 60%;
    border-radius: 10px;
    opacity: 1;
    transform: none;
}



.resources-text {
    flex: 1;
    padding: 20px;
    opacity: 1;
    transform: none;
    text-align: justify;
}

.resources-content.show .resources-text {
    opacity: 1;
}

.resources-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Roboto Slab', serif;
}

.resources-text p {
    font-size: 20px;
    color: gray;
    line-height: 1.6;
}

.resources-text ul {
    margin-top: 10px;
    padding-left: 20px;
}

.resources-text ul li {
    font-size: 1rem;
    color: gray;
    margin-bottom: 5px;
    list-style-type: disc;
}

.resources-content:nth-child(odd) .resources-text {
    color: black;
}

/* responsive */
@media (max-width: 1024px) {

    .resources-banner h1 {
        font-size: 2.5rem;
    }

    .resources-inner {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .resources-image,
    .resources-text {
        max-width: 100%;
    }

    .resources-image {
        margin-bottom: 20px;
    }

    .resources-banner {
        padding: 120px 20px;
    }

    .resources-banner::before,
    .resources-banner::after {
        height: 360px;
    }
}

@media (max-width: 768px) {

    .resources-container{
        margin-top: 80px;
    }

    .resources-inner{
        flex-direction: column !important;
    }
    .resources-banner h1 {
        font-size: 2rem;
    }

    .resources-text h1 {
        font-size: 1.5rem;
    }

    .resources-text p {
        font-size: 16px;
    }

    .resources-content {
        padding: 30px 0;
    }

    .resources-banner {
        padding: 100px 15px;
    }

    .resources-banner::before,
    .resources-banner::after {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .resources-banner h1 {
        font-size: 1.8rem;
    }

    .resources-text h1 {
        font-size: 1.2rem;
    }

    .resources-text p {
        font-size: 14px;
    }

    .resources-container {
        padding: 10px;
    }

    .resources-banner {
        padding: 80px 10px;
    }

    .resources-banner::before,
    .resources-banner::after {
        height: 250px;
    }

    

    
}