.custom-header {
  background-color: white;
  color: #2196F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; /* Increased header height */
  padding: 10px 20px;
}

/* Container to align logo and text */
.logo-container {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

/* Increased the logo size */
.custom-header .logo {
  height:auto; /* Adjust height as needed */
  width: 200px; /* Maintain aspect ratio */
  margin-right: 10px;
}

/* Increased font size of ION LEDGER */
.custom-header h1 {
  font-size: 30px;
  color: #2196F3
}

/* Navigation */
.custom-header nav ul {
  list-style: none;
  display: flex;
  padding-right: 50px;
}

.custom-header nav li {
  margin-left: 1rem;
  font-size: medium;
  padding: 10px;
}

.custom-header nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}

.custom-header nav a:hover {
  color: #2196F3;
  text-shadow: 0 0 5px rgb(237, 229, 229), 0 0 10px #2196F3;
}

/* Active link styling */
.custom-header nav a.active {
  color: #2196F3;
  font-weight: bold;
}
